# Setup

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot
import plotly.express as px

In [4]:
import plotly
print(plotly.__version__)

4.5.2

In [5]:
categories = ['Environment', 'Social', 'Governance']

subcategories_env_pos = ['Climate Impact', 'Biodiversity and Environmental Footprint', 'Waste and Emission Management', 'Environmental Opportunities ','Waste and Emissions Management ']
subcategories_env_neg = ['Greenwashing','Environmental Crime', 'Biodiversity and Environmental Footprint','Climate Impact','Waste and Emission Management','Waste and Emissions Management ']
subcategories_env = subcategories_env_pos + subcategories_env_neg
subcategories_env = list(dict.fromkeys(subcategories_env))

subcategories_soc_pos = ['Human Capital ','Workplace and Product Safety','Cybersecurity','Diversity and Inclusion','Public Relations','Community Opportunities']
subcategories_soc_neg = ['Human Capital ','Workplace and Product Safety','Cybersecurity','Discrimination','Controversial Profile']
subcategories_soc = subcategories_soc_pos + subcategories_soc_neg
subcategories_soc = list(dict.fromkeys(subcategories_soc))

subcategories_gov_pos_neg = ['Business Ethics and Transparency','Board Engagement','Legal Compliance','Product Stewardship']

subcategories = ['Climate Impact', 'Biodiversity and Environmental Footprint', 'Waste and Emission Management', 'Human Capital ', 'Environmental Opportunities ', 'Waste and Emissions Management ', 'Diversity and Inclusion', 'Workplace and Product Safety', 'Environmental Crime', 'Legal Compliance', 'Business Ethics and Transparency', 'Product Stewardship']

# Get data

In [6]:
all_data = pd.read_csv('../Data/posts_esg_final.csv')
print(len(all_data))
all_data['urn'] = all_data['urn'].astype('int64') 

all_data.head()

172

,Unnamed: 0,urn,ts,company,numLikes,numComments,text,Environment,Positive,Climate Impact,...,Human Capital,Environmental Opportunities,Waste and Emission Management,Diversity and Inclusion,Workplace and Product Safety,Environmental Crime,Governance,Legal Compliance,Business Ethics and Transparency,Product Stewardship
0,16,6984440000000000000,08/10/2022 09:01,boeing,280,6,Global cooperation is a beautiful thing üåé.\n\n...,120.0,120.0,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30,6982130000000000000,02/10/2022 00:00,boeing,498,5,October marks #EnergyAwarenessMonth across the...,10.0,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51,6978020000000000000,20/09/2022 16:04,boeing,4938,77,We predict a windy forecast at #ASC22. üí®\n\nTh...,30.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,61,6973260000000000000,07/09/2022 12:59,boeing,5121,61,Today marks the 25th anniversary of the F-22 R...,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73,6969440000000000000,27/08/2022 23:49,boeing,346,5,#TeamBoeing engineer Kristine Ramos spoke to t...,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
all_data.columns

Index(['Unnamed: 0', 'urn', 'ts', 'company', 'numLikes', 'numComments', 'text',
       'Environment', 'Positive', 'Climate Impact',
       'Biodiversity and Environmental Footprint', 'Negative',
       'Waste and Emissions Management ', 'Social', 'Human Capital ',
       'Environmental Opportunities ', 'Waste and Emission Management',
       'Diversity and Inclusion', 'Workplace and Product Safety',
       'Environmental Crime', 'Governance', 'Legal Compliance',
       'Business Ethics and Transparency', 'Product Stewardship'],
      dtype='object')

In [8]:
all_data['company'].unique()

array(['boeing', 'jpmorgan', 'merck', 'albertsons', 'jcpenney', 'metlife',
       'pepsico', 'wellsfargo', 'oracle', 'xerox', 'exelon', 'gap',
       'antheminc', 'textron', 'unionpacific', 'staples', 'humana',
       'aramark', 'avaya', 'saicinc', 'nordstrom', 'jabil', 'amgen',
       'amd', 'steelcase', 'kiewit', 'petsmart', 'unilever', 'ecolab',
       'tellabs', 'cunamutualgroup', 'flowserve', 'kennametal',
       'novglobal', 'bankofhawaii', 'earthlink'], dtype=object)

# Overall post analysis

In [9]:
option = 'unilever'
num_posts = 10

In [12]:
data = all_data.loc[all_data['company'] == option].copy()
data = data.reset_index()
data.head()

,index,Unnamed: 0,urn,ts,company,numLikes,numComments,text,Environment,Positive,...,Human Capital,Environmental Opportunities,Waste and Emission Management,Diversity and Inclusion,Workplace and Product Safety,Environmental Crime,Governance,Legal Compliance,Business Ethics and Transparency,Product Stewardship
0,104,3589,6988510000000000000,19/10/2022 14:30,unilever,92,2,"How is¬†Alyson Gruber, Senior Packaging Enginee...",30.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,105,3595,6987180000000000000,15/10/2022 22:47,unilever,907,19,üåç Ever wondered what the inside of one of our ...,40.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,106,3603,6985990000000000000,12/10/2022 16:08,unilever,147,3,Eva Langeler believes in creating a greener fu...,20.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,107,3613,6984640000000000000,08/10/2022 22:13,unilever,1248,36,Today we‚Äôre heading over to our office in Boni...,10.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,108,3615,6984130000000000000,07/10/2022 12:43,unilever,270,14,What does it mean to be a Formulation Scientis...,10.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,20.0,NaN

In [10]:
data = all_data.loc[all_data['company'] == option].copy()
data = data.reset_index()

num_esg_pos = data['Positive'].value_counts(dropna=True).sum()
num_esg_neg = data['Negative'].value_counts(dropna=True).sum()

cat_counts = dict()
cat_scores = dict()

data['Environmental subcategories'] = 0 
data['Social subcategories'] = 0 
data['Governance subcategories'] = 0 


score_env=0
score_soc=0
score_gov=0

for index, col in enumerate(data):
    if index < (len(data)-1):
        if pd.isna(data.at[index, col]):
            continue 
        else:
            if col in subcategories_env:
                score_env += data.at[index, col] 
            elif col in subcategories_soc:
                score_soc += data.at[index, col]
            elif col in subcategories_gov_pos_neg:
                score_gov += data.at[index, col]
            
            data.at[index, 'Environmental subcategories'] = score_env
            data.at[index, 'Social subcategories'] = score_soc
            data.at[index,'Governance subcategories'] = score_gov
    else: 
        break

for col in categories:
    cat_counts[col] = data[col].value_counts(dropna=True).sum()
    score = data[col].dropna().mean()
    if pd.isna(score):
        score = 0
    cat_scores[col] = score

cat_counts_df = pd.DataFrame({'Category': list(cat_counts.keys()), 'Counts': list(cat_counts.values())})
cat_scores_df = pd.DataFrame({'Category': list(cat_scores.keys()), 'Scores Sum': list(cat_scores.values())})

cat_scores_df = pd.DataFrame({'Category': list(cat_scores.keys()), 'Scores Sum': list(cat_scores.values())})
cat_scores_df = pd.DataFrame({'Category': list(cat_scores.keys()), 'Scores Sum': list(cat_scores.values())})


subcat_counts = dict()
subcat_scores = dict()
subcat_cat = []

for col in subcategories:
    subcat_counts[col] = data[col].value_counts(dropna=True).sum()
    score = data[col].dropna().mean()
    if pd.isna(score):
        score = 0
    subcat_scores[col] = score

for col in subcat_counts:
    if col in subcategories_env:
        subcat_cat.append('Environmental')
    elif col in subcategories_soc:
        subcat_cat.append('Social')
    elif col in subcategories_gov_pos_neg:
        subcat_cat.append('Governance')  
        
cat_individual_scores = dict()

# data['Environmental category']= data[subcategories_env].sum(axis=1)
# data['Social category']= data[subcategories_soc].sum(axis=1)
# data['Governance category']= data[subcategories_gov_pos_neg].sum(axis=1)

data['ESG total score'] = data[categories].sum(axis=1)

subcat_counts_df = pd.DataFrame({'Category': list(subcat_counts.keys()), 'Counts': list(subcat_counts.values()), 'Main category': subcat_cat})
subcat_scores_df = pd.DataFrame({'Category': list(subcat_scores.keys()), 'Scores Sum': list(subcat_scores.values()),'Main category': subcat_cat})

subcat_counts_df = subcat_counts_df.sort_values(by='Main category')
subcat_scores_df = subcat_scores_df.sort_values(by='Main category')

avg_likes = data['numLikes'].mean()
avg_comments = data['numComments'].mean()


def extract_hashtags(text):
    hashtag_list = []
     
    # splitting the text into words
    for word in text.split():
        if word[0] == '#':
            hashtag_list.append(word[1:])
    return hashtag_list

In [11]:
print(avg_likes, avg_comments)

400.94117647058823 15.058823529411764